.block-header {
  @include adaptiveValue("padding-block", 120, 50);
  display: grid;
  gap: toRem(14);
  justify-items: center;
  text-align: center;
  font-family: "Barlow";
  // .block-header__title
  &__title {
    @include adaptiveValue("font-size", 48, 28);
    font-weight: 600;
    color: $whiteColor;
  }
  // .block-header__text
  &__text {
    max-inline-size: toRem(996);
    line-height: 1.5;
    @include adaptiveValue("font-size", 18, 14);
    letter-spacing: toRem(0.5);
    &::before {
      color: $greenColor;
    }
  }
}

.button {
  display: inline-block;
  padding-block: toRem(18);
  padding-inline: toRem(28);
  background-color: $greenColor;
  color: $greyColor;
  border-radius: toRem(10);
  font-weight: 500;
  font-family: "Barlow";
  transition: all 0.5s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 toRem(3) toRem(10) $greyLiteColor;
    }
  }
  &--border {
    background-color: $greyButton;
    border: $border;
    color: $whiteColor;
    backdrop-filter: blur(toRem(12));
  }
  &--grey {
    display: flex;
    justify-content: center;
    background-color: $greyColor;
    padding-block: toRem(18);
    color: $whiteColor;
    line-height: 1.334;
  }
  @media (max-width: $mobile) {
    font-size: toRem(14);
    padding-block: toRem(14);
  }
}
