.header {
  position: fixed;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 50;
  border-bottom: $border;
  background-color: $backgroundColor;
  // .header__container
  &__container {
    padding: toRem(20) toRem(15);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .header__logo
  &__logo {
    position: relative;
    display: flex;
    gap: toRem(20);
    z-index: 2;
    &::before {
      font-size: toRem(38);
      inline-size: toRem(60);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $greenColor;
      border-radius: toRem(10);
      color: $backgroundColor;
      @media (max-width: toRem(1440)) {
        font-size: toRem(28);
        inline-size: toRem(40);
      }
    }
    @media (any-hover: hover) {
      &:hover::before {
        transform: rotate(90deg);
      }
    }
  }
  // .header__menu
  &__menu {
  }
  // .header__button
  &__button {
  }
}
.menu {
  display: flex;
  align-items: center;
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    @media (max-width: $tablet) {
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: toRem(40);
      padding: toRem(100) toRem(15) toRem(30);
      position: fixed;
      inline-size: 100%;
      block-size: 100%;
      inset-inline-start: 100%;
      inset-block-start: 0;
      overflow: auto;
      transition: inset-inline-start 0.5s;
      background: $backgroundColor url("../img/bg-hero.png") 0 0 repeat;

      &::before {
        content: "";
        position: fixed;
        inset-inline-start: 0;
        inset-block-start: 0;
        inline-size: 100%;
        block-size: toRem(80);
        z-index: 2;
        background-color: $backgroundColor;
      }
      .menu-open & {
        inset-inline-start: 0;
        border-bottom: $border;
      }
    }
  }
  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 30, 24, 0, $containerWidth, 1440);
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }
  // .menu__item
  &__item {
    display: flex;
    align-items: center;
    font-family: "Barlow";
  }
  // .menu__link
  &__link {
    font-weight: 600;
    line-height: 150%;
    border-radius: toRem(8);
    transition: all 0.5s;
    @media (max-width: toEm(1440)) {
      font-size: toRem(14);
    }
    @media (max-width: $tablet) {
      font-size: toRem(24);
    }
    &._activ {
      background-color: $greyColor;
      padding: toRem(14) toRem(28);
      @media (max-width: toEm(1440)) {
        padding: toRem(12) toRem(22);
      }
    }
    @media (any-hover: hover) {
      &:hover:not(._active) {
        color: $greenColor;
        text-decoration: underline;
      }
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    inline-size: toRem(25);
    block-size: toRem(17);
    position: relative;
    z-index: 2;
    &::before,
    &::after {
      content: "";
    }
    span,
    &::before,
    &::after {
      position: absolute;
      inset-inline-end: 0;
      inline-size: 100%;
      block-size: toRem(2);
      background-color: $greenColorTitle;
      transition: all 0.5s;
    }
    span {
      inset-block-start: 50%;
      transform: translateY(-50%);
    }
    &::before {
      inset-block-start: 0;
    }
    &::after {
      inset-block-end: 0;
      inline-size: 50%;
    }
    .menu-open & {
      span {
        opacity: 0;
      }
      &::before,
      &::after {
        inset-block-start: 50%;
        transform: translateY(-50%);
      }
      &::before {
        transform: rotate(-45deg) translateY(-50%);
      }
      &::after {
        inline-size: 100%;
        transform: rotate(45deg) translateY(50%);
      }
    }
  }
}
