[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
._icon-client:before {
  content: "\e900";
}
._icon-arrow:before {
  content: "\e901";
}
._icon-check:before {
  content: "\e902";
}
._icon-crown:before {
  content: "\e903";
}
._icon-d-brand-strategy:before {
  content: "\e904";
}
._icon-d-custom-illustration:before {
  content: "\e905";
}
._icon-design-head:before {
  content: "\e906";
}
._icon-desing:before {
  content: "\e907";
}
._icon-d-interactive:before {
  content: "\e908";
}
._icon-d-interface-design:before {
  content: "\e909";
}
._icon-d-logo-identity:before {
  content: "\e90a";
}
._icon-d-marketing:before {
  content: "\e90b";
}
._icon-d-responsive-devices:before {
  content: "\e90c";
}
._icon-d-style-guides:before {
  content: "\e90d";
}
._icon-d-typography:before {
  content: "\e90e";
}
._icon-d-ui-branding:before {
  content: "\e90f";
}
._icon-d-user-research:before {
  content: "\e910";
}
._icon-d-wireframe:before {
  content: "\e911";
}
._icon-e-api-integration:before {
  content: "\e912";
}
._icon-e-app-prototype:before {
  content: "\e913";
}
._icon-e-app-testing:before {
  content: "\e914";
}
._icon-e-backend:before {
  content: "\e915";
}
._icon-e-cms:before {
  content: "\e916";
}
._icon-e-cross-platform:before {
  content: "\e917";
}
._icon-e-custom-webapp:before {
  content: "\e918";
}
._icon-e-ecommerce:before {
  content: "\e919";
}
._icon-e-enterprise-software:before {
  content: "\e91a";
}
._icon-e-frontend:before {
  content: "\e91b";
}
._icon-e-legacy-migration:before {
  content: "\e91c";
}
._icon-email:before {
  content: "\e91d";
}
._icon-e-native-apps:before {
  content: "\e91e";
}
._icon-engineering:before {
  content: "\e91f";
}
._icon-expertize:before {
  content: "\e920";
}
._icon-hr-manager:before {
  content: "\e921";
}
._icon-location:before {
  content: "\e922";
}
._icon-logo:before {
  content: "\e923";
}
._icon-phone:before {
  content: "\e924";
}
._icon-pm:before {
  content: "\e925";
}
._icon-pm-agile-board:before {
  content: "\e926";
}
._icon-pm-bug-tracking:before {
  content: "\e927";
}
._icon-pm-feedback-loop:before {
  content: "\e928";
}
._icon-pm-performance-security:before {
  content: "\e929";
}
._icon-pm-progress-demo:before {
  content: "\e92a";
}
._icon-pm-requirements:before {
  content: "\e92b";
}
._icon-pm-resource-allocation:before {
  content: "\e92c";
}
._icon-pm-roadmap:before {
  content: "\e92d";
}
._icon-pm-sprint-cycle:before {
  content: "\e92e";
}
._icon-pm-test-plan:before {
  content: "\e92f";
}
._icon-pm-usability-test:before {
  content: "\e930";
}
._icon-s-facebook:before {
  content: "\e931";
}
._icon-s-linkedIn:before {
  content: "\e932";
}
._icon-solutions:before {
  content: "\e933";
}
._icon-s-twitter:before {
  content: "\e934";
}
