@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Orbitron:500,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");

@import "_fonts.scss";

@import "_reset.scss";

@import "_mixins.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1512;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1272;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$backgroundColor: #000;
$mainColor: #fff;
$gradienColor: linear-gradient(
  90deg,
  rgba(151, 0, 255, 0.6) 0%,
  rgba(66, 255, 0, 0.6) 37%,
  rgba(255, 0, 0, 0.6) 67%,
  rgba(36, 0, 255, 0.6) 100%
);
$gradientTitle: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 49%, rgba(36, 0, 255, 1) 98%);
$purpleColor: #9747ff;
$purpleColorHover: #0b0045;
$gradientBlack: linear-gradient(90deg,rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.99) 100%);

$fontMain: "Exo";

$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(450);

body {
  font-family: $fontMain;
  color: $mainColor;
  background-color: $backgroundColor;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: toPx($containerWidth);
  margin: 0 auto;
  padding: 0 0.9375rem;
}

// Лічильник для списку
%listCounter {
  list-style-type: none;
  counter-reset: item;
  li {
    position: relative;
    &:before {
      counter-increment: item;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

@import "_header.scss";

@import "_main.scss";

@import "_footer.scss";

@import "_commons.scss";
